<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header-top-static">
        <nav class="navbar-list">
            <h2 class="title-list">Fashion Recommender</h2>
            <ul class="nav-menu">
                <li class="home-list" href="/">HOME</li>
                <li class="about-list" href="/about">ABOUT</li>
                <li class="login-list">Login</li>
            </ul>
        </nav>
    </header>
