<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/script.js"></script>
</head>
<body>
    <header class="header-top-static">
        <nav id="navbar-list" class="navbar-list">
            <h2 class="title-list">Fashion Recommender</h2>
            <ul class="nav-menu">
                <li class="home-list"><a href="/">HOME</a></li>
                <li class="about-list"><a href="/about">ABOUT</a></li>
                <li class="login-list"><a href="login">Login</a></li>
            </ul>
        </nav>
    </header>
