html {
    font-family: Lato, sans-serif;
    font-size: 15px;
}
body {
    margin:0;
}

header nav li {
    margin-right: 30px;
    font-size: 1.2rem;
    color: white;
}

li {
    cursor: pointer;
}
header nav li:last-child {
    margin-left: 15%;
    margin-right: 3%;
}
.nav-menu {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    color: white;
    margin-left: 55%;
}
.navbar-list {
    padding: 0 20px;
    background-color: skyblue;
}

.home-list:hover, .about-list:hover{
    box-shadow: 10px 5px 5px blue;
    text-decoration: underline;
}

.title-list {
    display: inline-flex;
    font-size: 2rem;
    font: bold;
    justify-content: start;
}
