<footer class="footer">
    <div class="footer-div">
      <p >Made by Hwanhee Kim</p>
      <a class="footer__item" href="https://github.com/hwank29" target="blank"><img style="width:20px; margin-right:5px;" src="/images/github.webp" alt="GitHub Logo" />Check out my other projects!</a>
      <a class="footer__item" href="https://www.linkedin.com/in/hwanhee-kim-0193051a8/" target="blank"><img style="width:20px; margin-right:5px;" src="/images/linkedinImage.webp" alt="Linkedin Logo" />Linkedin Profile</a>
    </div>
  </footer>
</body>
</html>